@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #171717;  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --background: #ededed;
  }
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('./fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'JetBrainsMono' , monospace;
  animation: fadeIn 1s forwards;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

